@charset "utf-8";
.transform-translate {
  -ms-transform: translate(-50%, -50%);
  /* IE 9 */
  -webkit-transform: translate(-50%, -50%);
  /* Safari and Chrome */
  -o-transform: translate(-50%, -50%);
  /* Opera */
  -moz-transform: translate(-50%, -50%);
  /* Firefox */
  transform: translate(-50%, -50%);
}
.display-flex {
  display: flex;
  display: -webkit-flex;
}
.font-family {
  font-family: "PingFangSC", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
html {
  -webkit-text-size-adjust: none;
}
a,
body,
dd,
div,
dl,
dt,
em,
h1,
h2,
h3,
h4,
h5,
h6,
i:before,
input,
label,
li,
ol,
p,
select,
span,
textarea,
ul {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  -ms-flex-direction: column;
  /* IE 9 */
  -webkit-flex-direction: column;
  /* Safari and Chrome */
  -o-flex-direction: column;
  /* Opera */
  -moz-flex-direction: column;
  /* Firefox */
  flex-direction: column;
  font-family: "PingFangSC", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  display: -webkit-flex;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
/*灰色背景*/
.vague-body {
  background: #F8F8F8;
}
/*白色背景*/
.bright-body {
  background: #fff !important;
}
.gxs-vh {
  position: relative;
  /* IE 9 */
  /* Safari and Chrome */
  -o-flex: 1;
  /* Opera */
  -moz-flex: 1;
  /* Firefox */
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #f9fafc;
  -ms-flex-direction: column;
  /* IE 9 */
  -webkit-flex-direction: column;
  /* Safari and Chrome */
  -o-flex-direction: column;
  /* Opera */
  -moz-flex-direction: column;
  /* Firefox */
  flex-direction: column;
  display: flex;
  display: -webkit-flex;
  min-height: 100vh;
}
em,
i {
  font-style: normal;
  font-family: "PingFangSC", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a img {
  border: 0;
}
.img-responsive img {
  max-width: 100%;
  height: auto;
  display: block;
}
.img-width-max {
  width: 100%;
  height: auto;
  display: block;
}
ol,
ul {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "PingFangSC", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0;
  font-family: "PingFangSC", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
dl {
  margin-top: 0;
  margin-bottom: 20px;
}
dd,
dt {
  line-height: 1.5em;
  font-family: "PingFangSC", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
dd {
  margin-left: 0;
}
li {
  list-style: none;
}
/*字体 Star*/
a {
  color: #61676F;
  text-decoration: none;
  font-family: "PingFangSC", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a:focus,
a:hover {
  color: #61676F;
  text-decoration: none;
}
b,
strong {
  font-weight: bold;
  font-family: "PingFangSC", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
p {
  font-family: "PingFangSC", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
span {
  font-family: "PingFangSC", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PingFangSC", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}
.h1,
h1 {
  font-size: 22px;
}
.h2,
h2 {
  font-size: 36px;
}
.h3,
h3 {
  font-size: 32px;
}
.h4,
h4 {
  font-size: 28px;
}
.h5,
h5 {
  font-size: 28px;
}
.h6,
h6 {
  font-size: 28px;
}
/*字体 End*/
.fl {
  float: left;
}
.fr {
  float: right;
}
.clear {
  overflow: hidden;
  clear: both;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.gxs-text-center {
  text-align: center !important;
}
.gxs-text-left {
  text-align: left !important;
}
.gxs-text-right {
  text-align: right;
}
/* form gxs-btn input Star*/
button {
  overflow: visible;
  font-family: "PingFangSC", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
button,
select {
  text-transform: none;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
.gxs-btn[disabled] {
  background: #f2f3f4 !important;
  color: #C9CDD1 !important;
  border-color: #f2f3f4 !important;
}
.gxs-btn.hot {
  background: #ebebf3 !important;
  color: #949AA2 !important;
  border-color: #ebebf3 !important;
}
input {
  line-height: normal;
}
button,
input {
  outline: none;
}
option {
  color: #61676F;
}
.gxs-btn-block {
  display: block;
  width: 100%;
}
.gxs-btn {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  color: #61676F;
  line-height: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  border-radius: 24px;
  overflow: hidden;
  font-family: "PingFangSC", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.gxs-btn.gxs-btn-inline {
  display: inline-block;
}
.gxs-btn.gxs-btn-block {
  display: block;
  width: 100%;
}
.gxs-btn strong {
  color: #fff;
  font-size: 1.2em;
}
/*（默认样式）Default*/
.gxs-btn-default {
  background: #F2F3F4;
  border: 1px solid #F2F3F4;
  color: #61676F;
}
/*（首选项）Primary*/
.gxs-btn-primary {
  color: #373844;
  background: #373844;
}
/*（成功）Success*/
.gxs-btn-success {
  color: #fff;
  background: #00B642;
  border: 1px solid #00B642;
}
.gxs-btn-success:focus {
  color: #fff;
}
.gxs-btn-success[disabled] {
  background: #6AE496;
  border: 1px solid #6AE496;
}
/*（一般信息）Info*/
.gxs-btn-info {
  color: #5D5D66;
  background: #5D5D66;
  border: 1px solid #5D5D66;
}
.gxs-btn-info-style {
  color: #5D5D66;
  background: #fff;
  border: 1px solid #5D5D66;
}
/*（警告）Warning*/
.gxs-btn-warning {
  color: #fff;
  background: #E9001D;
  border: 1px solid #E9001D;
}
/*（危险）Danger*/
.gxs-btn-danger {
  color: #fff;
  background: #e9001d;
  border: 1px solid #e9001d;
}
/*（提示）hint*/
.gxs-btn-hint {
  color: #fff;
  background: #FE7A5C;
  border: 1px solid #FE7A5C;
}
.gxs-btn-hint-style {
  color: #FE7A5C;
  background: #fff;
  border: 1px solid #FE7A5C;
}
.gxs-btn.disabled,
.gxs-btn[disabled],
fieldset[disabled] .gxs-btn {
  cursor: not-allowed;
  pointer-events: none;
  box-shadow: 0 0 0 0 #000;
  -moz-box-shadow: 0 0 0 0 #000;
  -webkit-box-shadow: 0 0 0 0 #000;
}
.placeholderColor {
  color: #ccc;
}
input {
  font-size: 24px;
  color: #000;
  font-family: "PingFangSC", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
input:-moz-placeholder,
input:-ms-input-placeholder,
input::-moz-placeholder,
input::-webkit-input-placeholder {
  /* Internet Explorer 10+ */
  color: #ccc;
}
.gxs-input {
  color: #000;
  font-size: 24px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.gxs-check {
  display: none;
}
.gxs-check + .gxs-icon {
  background-color: #61676F;
  border: 1px solid #C1CACA;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin-top: 2px;
}
.gxs-check:checked + .gxs-icon {
  background-color: #61676F;
  border: 1px solid #00B642;
  color: #00B642;
}
.gxs-check:checked + .gxs-icon:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  background: #00B642;
  background-size: 100% 100%;
}
.gxs-select {
  font-size: 24px;
}
label {
  display: inline-block;
  max-width: 100%;
}
textarea {
  overflow: auto;
}
/* form gxs-btn input End*/
/*（默认样式）Default*/
.gxs-text-default {
  color: #61676F !important;
}
/*（首选项）Primary*/
.gxs-text-primary {
  color: #373844 !important;
}
/*（成功）Success*/
.gxs-text-success {
  color: #00B642 !important;
}
/*（一般信息）Info*/
.gxs-text-info {
  color: #5D5D66 !important;
}
/*（提示详情）hintInfo */
.gxs-text-hintInfo {
  color: #1C5699 !important;
}
/*（警告）Warning*/
.gxs-text-warning {
  color: #E9001D !important;
}
/*（危险）Danger*/
.gxs-text-danger {
  color: #e9001d;
}
/*（提示）hint*/
.gxs-text-hint {
  color: #FE7A5C !important;
}
/*（提示）hint*/
.gxs-text-title {
  color: #323242 !important;
  font-size: 28px;
}
.gxs-header {
  height: 44px;
}
.gxs-body {
  /* IE 9 */
  /* Safari and Chrome */
  -o-flex: 1;
  /* Opera */
  -moz-flex: 1;
  /* Firefox */
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
}
.search {
  height: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
}
.search .search-icon {
  padding: 0 10px;
}
.search .search-input {
  /* IE 9 */
  /* Safari and Chrome */
  -o-flex: 1;
  /* Opera */
  -moz-flex: 1;
  /* Firefox */
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.search .search-input .gxs-input {
  border-color: #e5e5e5;
  padding: 5px 10px;
  font-size: 12px;
  height: 28px;
  width: 100%;
}
.search .search-button {
  padding: 0 10px;
}
.search-res {
  position: absolute;
  top: 44px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
}
.search-res .search-res-box {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  padding: 10px;
  border-bottom: 1px solid #e5e5e5;
}
.search-res .search-res-box .search-res-img {
  width: 32px;
  height: 32px;
}
.search-res .search-res-box .search-res-img img {
  width: 100%;
  height: 100%;
}
.search-res .search-res-box .search-res-text {
  /* IE 9 */
  /* Safari and Chrome */
  -o-flex: 1;
  /* Opera */
  -moz-flex: 1;
  /* Firefox */
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.search-res .search-res-box .search-res-text .search-res-name {
  font-size: 16px;
  color: #323242;
}
.search-res .search-res-box .search-res-text .search-res-singer {
  font-size: 16px;
  color: #949AA2;
}
.audio-warp {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  z-index: 999;
  background: #000;
  overflow: hidden;
}
.audio-warp .audio-box {
  height: 80vh;
  position: relative;
  z-index: 10;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
}
.audio-warp .audio-box .audio-head {
  position: absolute;
  left: 0;
  right: 0;
  top: 5px;
  padding-right: 30px;
  padding-bottom: 5px;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #b1b1b1;
}
.audio-warp .audio-box .audio-bank {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
}
.audio-warp .audio-box .audio-bank i {
  color: #fff;
}
.audio-warp .audio-box .audio-title {
  /* IE 9 */
  /* Safari and Chrome */
  -o-flex: 1;
  /* Opera */
  -moz-flex: 1;
  /* Firefox */
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
  flex-direction: row;
  flex-wrap: wrap;
}
.audio-warp .audio-box .audio-title .song-name {
  color: #fff;
}
.audio-warp .audio-box .audio-title .singer-name {
  margin-left: 5px;
  color: #fff;
}
.audio-warp .audio-box .audio-box-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 44px;
  border: 8px solid #000;
  box-shadow: 0 0 10px 0 #000;
}
.audio-warp .audio-box .audio-box-img img {
  width: 100%;
}
.audio-warp .audio-box-bg {
  -webkit-filter: blur(50px);
  /* Chrome, Opera */
  -moz-filter: blur(50px);
  -ms-filter: blur(50px);
  filter: blur(50px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: 200% auto;
  background-repeat: no-repeat;
  z-index: 0;
}
.audio-warp .audio-nav {
  position: relative;
  z-index: 10;
  height: 20vh;
  padding: 0 30px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
}
.audio-warp .audio-nav .audio-progress {
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.5);
  overflow: hidden;
}
.audio-warp .audio-nav .audio-progress .audio-progress-box {
  width: 10px;
  height: 4px;
  background: #fff;
}
.audio-warp .audio-nav i {
  font-weight: 100;
  color: #fff;
}
.audio-warp .audio-nav .audio-nav-button {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
}
.audio-warp .audio-nav .audio-nav-btn {
  width: 150px;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
}
.audio-warp .audio-nav .audio-progress-warp {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.audio-warp .audio-nav .audio-progress-warp .audio-progress-text {
  margin-top: 5px;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
}
.audio-warp .audio-nav .audio-progress-warp .audio-progress-text p {
  color: #fff;
  font-size: 12px;
}
.gxs-footer .audio-nav {
  position: relative;
  z-index: 10;
  height: 44px;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  border-top: 1px solid #e5e5e5;
  align-items: center;
  background: #fff;
}
.gxs-footer .audio-nav .audio-img {
  width: 44px;
  height: 44px;
}
.gxs-footer .audio-nav .audio-img img {
  width: 100%;
}
.gxs-footer .audio-nav .audio-name {
  /* IE 9 */
  /* Safari and Chrome */
  -o-flex: 1;
  /* Opera */
  -moz-flex: 1;
  /* Firefox */
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-left: 10px;
  overflow: hidden;
}
.gxs-footer .audio-nav .audio-name p {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.gxs-footer .audio-nav .audio-nav-button {
  width: 140px;
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  align-items: center;
}
.gxs-footer .audio-nav .audio-nav-button i {
  font-size: 24px;
}
.recommended-warp {
  margin-top: 10px;
}
.recommended-warp .recommended-title {
  margin-left: 10px;
  color: #323242;
}
.recommended-warp .recommended-hd {
  padding: 10px 15px;
}
.recommended-warp .recommended-more {
  font-size: 12px;
  color: #949AA2;
}
.recommended-warp .recommended-bd {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  padding: 0 10px;
}
.recommended-warp .recommended-bd .audio-item {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  border: 1px solid #e5e5e5;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}
.recommended-warp .recommended-bd .audio-item .topList-img {
  width: 80px;
}
.recommended-warp .recommended-bd .audio-item .recommended-box-img {
  width: 80px;
  height: 80px;
}
.recommended-warp .recommended-bd .audio-item .recommended-box-img img {
  width: 100%;
}
.recommended-warp .recommended-bd .audio-item .recommended-box-text .recommended-box-title {
  font-size: 12px;
}
.recommended-warp .topList-list {
  width: 100%;
  overflow: hidden;
}
.recommended-warp .recommended-box {
  border-bottom: 1px solid #e5e5e5;
  padding: 5px 10px;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
}
.recommended-warp .recommended-box:last-child {
  border: 0;
}
.recommended-warp .recommended-box .recommended-index {
  font-size: 14px;
  color: #61676F;
  padding-right: 10px;
}
.recommended-warp .recommended-box .recommended-info {
  width: 100%;
  font-size: 12px;
  color: #323242;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.recommended-warp .recommended-box .album-name {
  margin-left: 5px;
  font-size: 12px;
  color: #949AA2;
}
.gxs-cell {
  display: flex;
  display: -webkit-flex;
  align-items: center;
}
.gxs-cell .gxs-cell-bd {
  /* IE 9 */
  /* Safari and Chrome */
  -o-flex: 1;
  /* Opera */
  -moz-flex: 1;
  /* Firefox */
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.gxs-cell .gxs-cell-ft {
  text-align: right;
}
.count-warp {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 44px;
  padding-bottom: 10px;
  background: #fff;
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
}
.count-warp .count-box {
  padding: 10px 15px;
  display: flex;
  display: -webkit-flex;
  border-bottom: 1px solid #e5e5e5;
  align-items: center;
}
.count-warp .count-box .count-box-index {
  font-size: 14px;
  color: #323242;
  padding-right: 10px;
}
.count-warp .count-box .count-box-title {
  font-size: 14px;
  margin-bottom: 5px;
  color: #323242;
}
.count-warp .count-box .count-box-name {
  font-size: 12px;
  color: #949AA2;
}
