@charset "utf-8";
@media only screen and (max-width: 1080px), only screen and (max-device-width: 1080px) {
  html,
  body {
    font-size: 101.5%;
  }
}
@media only screen and (max-width: 960px), only screen and (max-device-width: 960px) {
  html,
  body {
    font-size: 101.5%;
  }
}
@media only screen and (max-width: 800px), only screen and (max-device-width: 800px) {
  html,
  body {
    font-size: 101.5%;
  }
}
@media only screen and (max-width: 720px), only screen and (max-device-width: 720px) {
  html,
  body {
    font-size: 101.5%;
  }
}
@media only screen and (max-width: 640px), only screen and (max-device-width: 640px) {
  html,
  body {
    font-size: 101.5%;
  }
}
@media only screen and (max-width: 600px), only screen and (max-device-width: 600px) {
  html,
  body {
    font-size: 101.5%;
  }
}
@media only screen and (max-width: 540px), only screen and (max-device-width: 540px) {
  html,
  body {
    font-size: 101.5%;
  }
}
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  html,
  body {
    font-size: 89.8%;
  }
}
@media only screen and (max-width: 414px), only screen and (max-device-width: 414px) {
  html,
  body {
    font-size: 62.5%;
  }
}
@media only screen and (max-width: 400px), only screen and (max-device-width: 400px) {
  html,
  body {
    font-size: 62.5%;
  }
}
@media only screen and (max-width: 375px), only screen and (max-device-width: 375px) {
  html,
  body {
    font-size: 62.5%;
  }
}
@media only screen and (max-width: 360px), only screen and (max-device-width: 360px) {
  html,
  body {
    font-size: 58.5%;
  }
}
@media only screen and (max-width: 320px), only screen and (max-device-width: 320px) {
  html,
  body {
    font-size: 54.5%;
  }
}
@media only screen and (max-width: 240px), only screen and (max-device-width: 240px) {
  html,
  body {
    font-size: 62.5%;
  }
}
[class^="icon-"] {
  font-size: 18px;
}
.transform-translate {
  -ms-transform: translate(-50%, -50%);
  /* IE 9 */
  -webkit-transform: translate(-50%, -50%);
  /* Safari and Chrome */
  -o-transform: translate(-50%, -50%);
  /* Opera */
  -moz-transform: translate(-50%, -50%);
  /* Firefox */
  transform: translate(-50%, -50%);
}
.display-flex {
  display: flex;
  display: -webkit-flex;
}
.font-family {
  font-family: "PingFangSC", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
html {
  -webkit-text-size-adjust: none;
}
a,
body,
dd,
div,
dl,
dt,
em,
h1,
h2,
h3,
h4,
h5,
h6,
i:before,
input,
label,
li,
ol,
p,
select,
span,
textarea,
ul {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  -ms-flex-direction: column;
  /* IE 9 */
  -webkit-flex-direction: column;
  /* Safari and Chrome */
  -o-flex-direction: column;
  /* Opera */
  -moz-flex-direction: column;
  /* Firefox */
  flex-direction: column;
  font-family: "PingFangSC", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  display: -webkit-flex;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  background: url("../../assets/images/body-bg.jpg") no-repeat 100%;
  background-attachment: fixed;
  background-size: 100% 100%;
}
/*灰色背景*/
.vague-body {
  background: #F8F8F8;
}
/*白色背景*/
.bright-body {
  background: #fff !important;
}
.gxs-vh {
  position: relative;
  /* IE 9 */
  /* Safari and Chrome */
  -o-flex: 1;
  /* Opera */
  -moz-flex: 1;
  /* Firefox */
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-direction: column;
  /* IE 9 */
  -webkit-flex-direction: column;
  /* Safari and Chrome */
  -o-flex-direction: column;
  /* Opera */
  -moz-flex-direction: column;
  /* Firefox */
  flex-direction: column;
  display: flex;
  display: -webkit-flex;
  min-height: 100vh;
}
em,
i {
  font-style: normal;
  font-family: "PingFangSC", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a img {
  border: 0;
}
.img-responsive img {
  max-width: 100%;
  height: auto;
  display: block;
}
.img-width-max {
  width: 100%;
  height: auto;
  display: block;
}
ol,
ul {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "PingFangSC", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0;
  font-family: "PingFangSC", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
dl {
  margin-top: 0;
  margin-bottom: 20px;
}
dd,
dt {
  line-height: 1.5em;
  font-family: "PingFangSC", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
dd {
  margin-left: 0;
}
li {
  list-style: none;
}
/*字体 Star*/
a {
  color: #61676F;
  text-decoration: none;
  font-family: "PingFangSC", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a:focus,
a:hover {
  color: #61676F;
  text-decoration: none;
}
b,
strong {
  font-weight: bold;
  font-family: "PingFangSC", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
p {
  font-family: "PingFangSC", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
span {
  font-family: "PingFangSC", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PingFangSC", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}
.h1,
h1 {
  font-size: 22px;
}
.h2,
h2 {
  font-size: 36px;
}
.h3,
h3 {
  font-size: 32px;
}
.h4,
h4 {
  font-size: 28px;
}
.h5,
h5 {
  font-size: 28px;
}
.h6,
h6 {
  font-size: 28px;
}
/*字体 End*/
.fl {
  float: left;
}
.fr {
  float: right;
}
.clear {
  overflow: hidden;
  clear: both;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.gxs-text-center {
  text-align: center !important;
}
.gxs-text-left {
  text-align: left !important;
}
.gxs-text-right {
  text-align: right;
}
/* form gxs-btn input Star*/
button {
  overflow: visible;
  font-family: "PingFangSC", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
button,
select {
  text-transform: none;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
.gxs-btn[disabled] {
  background: #f2f3f4 !important;
  color: #C9CDD1 !important;
  border-color: #f2f3f4 !important;
}
.gxs-btn.hot {
  background: #ebebf3 !important;
  color: #949AA2 !important;
  border-color: #ebebf3 !important;
}
input {
  line-height: normal;
}
button,
input {
  outline: none;
}
option {
  color: #61676F;
}
.gxs-btn-block {
  display: block;
  width: 100%;
}
.gxs-btn {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  color: #61676F;
  line-height: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  border-radius: 24px;
  overflow: hidden;
  font-family: "PingFangSC", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.gxs-btn.gxs-btn-inline {
  display: inline-block;
}
.gxs-btn.gxs-btn-block {
  display: block;
  width: 100%;
}
.gxs-btn strong {
  color: #fff;
  font-size: 1.2em;
}
/*（默认样式）Default*/
.gxs-btn-default {
  background: #F2F3F4;
  border: 1px solid #F2F3F4;
  color: #61676F;
}
/*（首选项）Primary*/
.gxs-btn-primary {
  color: #373844;
  background: #373844;
}
/*（成功）Success*/
.gxs-btn-success {
  color: #fff;
  background: #00B642;
  border: 1px solid #00B642;
}
.gxs-btn-success:focus {
  color: #fff;
}
.gxs-btn-success[disabled] {
  background: #6AE496;
  border: 1px solid #6AE496;
}
/*（一般信息）Info*/
.gxs-btn-info {
  color: #5D5D66;
  background: #5D5D66;
  border: 1px solid #5D5D66;
}
.gxs-btn-info-style {
  color: #5D5D66;
  background: #fff;
  border: 1px solid #5D5D66;
}
/*（警告）Warning*/
.gxs-btn-warning {
  color: #fff;
  background: #E9001D;
  border: 1px solid #E9001D;
}
/*（危险）Danger*/
.gxs-btn-danger {
  color: #fff;
  background: #e9001d;
  border: 1px solid #e9001d;
}
/*（提示）hint*/
.gxs-btn-hint {
  color: #fff;
  background: #FE7A5C;
  border: 1px solid #FE7A5C;
}
.gxs-btn-hint-style {
  color: #FE7A5C;
  background: #fff;
  border: 1px solid #FE7A5C;
}
.gxs-btn.disabled,
.gxs-btn[disabled],
fieldset[disabled] .gxs-btn {
  cursor: not-allowed;
  pointer-events: none;
  box-shadow: 0 0 0 0 #000;
  -moz-box-shadow: 0 0 0 0 #000;
  -webkit-box-shadow: 0 0 0 0 #000;
}
.placeholderColor {
  color: #ccc;
}
input {
  font-size: 2.4rem;
  color: #000;
  font-family: "PingFangSC", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
input:-moz-placeholder,
input:-ms-input-placeholder,
input::-moz-placeholder,
input::-webkit-input-placeholder {
  /* Internet Explorer 10+ */
  color: #ccc;
}
.gxs-input {
  color: #000;
  font-size: 2.4rem;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.gxs-check {
  display: none;
}
.gxs-check + .gxs-icon {
  background-color: #61676F;
  border: 1px solid #C1CACA;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin-top: 2px;
}
.gxs-check:checked + .gxs-icon {
  background-color: #61676F;
  border: 1px solid #00B642;
  color: #00B642;
}
.gxs-check:checked + .gxs-icon:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  background: #00B642;
  background-size: 100% 100%;
}
.gxs-select {
  font-size: 24px;
}
label {
  display: inline-block;
  max-width: 100%;
}
textarea {
  overflow: auto;
}
/* form gxs-btn input End*/
/*（默认样式）Default*/
.gxs-text-default {
  color: #61676F !important;
}
/*（首选项）Primary*/
.gxs-text-primary {
  color: #373844 !important;
}
/*（成功）Success*/
.gxs-text-success {
  color: #00B642 !important;
}
/*（一般信息）Info*/
.gxs-text-info {
  color: #5D5D66 !important;
}
/*（提示详情）hintInfo */
.gxs-text-hintInfo {
  color: #1C5699 !important;
}
/*（警告）Warning*/
.gxs-text-warning {
  color: #E9001D !important;
}
/*（危险）Danger*/
.gxs-text-danger {
  color: #e9001d;
}
/*（提示）hint*/
.gxs-text-hint {
  color: #FE7A5C !important;
}
/*（提示）hint*/
.gxs-text-title {
  color: #fff !important;
  font-size: 28px;
}
.ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.touch {
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}
.list-border-bottom {
  background: url("../../assets/images/count-box-border.png") no-repeat bottom;
  background-size: 100% auto;
}
.gxs-header {
  position: fixed;
  left: 0;
  right: 0;
  height: 44px;
  z-index: 8;
}
.gxs-body {
  /* IE 9 */
  /* Safari and Chrome */
  -o-flex: 1;
  /* Opera */
  -moz-flex: 1;
  /* Firefox */
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  padding-top: 4.4rem;
  position: relative;
}
.gxs-footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
}
.search-warp {
  padding-top: 4.4rem;
  z-index: 99;
}
.search-hot-warp {
  position: absolute;
  padding-top: 4.4rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("../../assets/images/body-bg.jpg") no-repeat 100%;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.search-hot {
  position: absolute;
  top: 4.4rem;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  padding-bottom: 5.4rem;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4.4rem;
  display: flex;
  -ms-flex-direction: row;
  /* IE 9 */
  -webkit-flex-direction: row;
  /* Safari and Chrome */
  -o-flex-direction: row;
  /* Opera */
  -moz-flex-direction: row;
  /* Firefox */
  flex-direction: row;
  -ms-align-items: center;
  /* IE 9 */
  -webkit-align-items: center;
  /* Safari and Chrome */
  -o-align-items: center;
  /* Opera */
  -moz-align-items: center;
  /* Firefox */
  align-items: center;
  background: none;
  padding: 0 10px;
  z-index: 99;
}
.header .search-input {
  /* IE 9 */
  /* Safari and Chrome */
  -o-flex: 1;
  /* Opera */
  -moz-flex: 1;
  /* Firefox */
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.header .search-input .gxs-input {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 5px 10px;
  background: rgba(255, 255, 255, 0.3);
  font-size: 1.4rem;
  height: 2.8rem;
  color: #fff;
  width: 100%;
}
.header .search-bank {
  margin-right: 20px;
}
.header .search-bank .gxs-icon {
  width: 2.1rem;
  height: 2.1rem;
}
.header .search-menu {
  margin-right: 20px;
}
.header .search-menu .gxs-icon {
  width: auto;
  height: 1.7rem;
}
.header .search-button {
  padding-left: 2rem;
}
.header .search-button .gxs-icon {
  width: 2.2rem;
  height: 2.2rem;
}
.search-res {
  position: absolute;
  top: 4.4rem;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 5.4rem;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}
.search-res .search-res-title {
  height: 3rem;
  font-size: 1.4rem;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  line-height: 3rem;
  padding: 0 1.5rem;
}
.search-res-box {
  display: flex;
  display: -webkit-flex;
  -ms-flex-direction: row;
  /* IE 9 */
  -webkit-flex-direction: row;
  /* Safari and Chrome */
  -o-flex-direction: row;
  /* Opera */
  -moz-flex-direction: row;
  /* Firefox */
  flex-direction: row;
  padding: 1.5rem;
  -ms-align-items: center;
  /* IE 9 */
  -webkit-align-items: center;
  /* Safari and Chrome */
  -o-align-items: center;
  /* Opera */
  -moz-align-items: center;
  /* Firefox */
  align-items: center;
  background: url("../../assets/images/count-box-border.png") no-repeat bottom;
  background-size: 100% auto;
}
.search-res-box .search-res-img {
  width: 32px;
  height: 32px;
  display: block;
}
.search-res-box .search-res-img img {
  width: 100%;
  height: 100%;
}
.search-res-box .search-res-text {
  white-space: nowrap;
  /* IE 9 */
  /* Safari and Chrome */
  -o-flex: 1;
  /* Opera */
  -moz-flex: 1;
  /* Firefox */
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.search-res-box .search-res-text span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.search-res-box .search-res-text .search-res-name {
  font-size: 1.4rem;
  color: #fff;
  margin: 0 1rem;
}
.search-res-box .search-res-text .search-res-singer,
.search-res-box .search-res-text .search-res-index {
  font-size: 1.4rem;
  color: #c2c8d2;
}
.audio-warp {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  overflow: hidden;
  display: flex;
  display: -webkit-flex;
  -ms-flex-direction: column;
  /* IE 9 */
  -webkit-flex-direction: column;
  /* Safari and Chrome */
  -o-flex-direction: column;
  /* Opera */
  -moz-flex-direction: column;
  /* Firefox */
  flex-direction: column;
  justify-content: space-between;
  z-index: 99999;
  background: url("../../assets/images/body-bg.jpg") no-repeat 100%;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.audio-warp .audio-box {
  position: relative;
  z-index: 10;
  height: 4.4rem;
  overflow: hidden;
}
.audio-warp .audio-box .audio-box-img {
  min-width: 100%;
  overflow: hidden;
  z-index: 10;
  display: flex;
  display: -webkit-flex;
  -ms-align-items: center;
  /* IE 9 */
  -webkit-align-items: center;
  /* Safari and Chrome */
  -o-align-items: center;
  /* Opera */
  -moz-align-items: center;
  /* Firefox */
  align-items: center;
}
.audio-warp .audio-box .audio-box-img img {
  width: 100%;
}
.audio-warp .audio-progress {
  width: 100%;
  height: 4px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 2px;
}
.audio-warp .audio-progress .audio-progress-box {
  width: 0;
  height: 4px;
  background: #fff;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  border-radius: 2px;
  display: flex;
  display: -webkit-flex;
  -ms-justify-content: flex-end;
  /* IE 9 */
  -webkit-justify-content: flex-end;
  /* Safari and Chrome */
  -o-justify-content: flex-end;
  /* Opera */
  -moz-justify-content: flex-end;
  /* Firefox */
  justify-content: flex-end;
  overflow: visible;
}
.audio-warp .audio-progress .audio-progress-box .audio-progress-touch {
  width: 10px;
  min-width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  top: -3px;
  box-shadow: 0 0 5px 0 #7d7d7d;
}
.audio-warp .audio-progress-warp {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}
.audio-warp .audio-progress-warp .audio-progress-text {
  margin-top: 5px;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
}
.audio-warp .audio-progress-warp .audio-progress-text p {
  color: #fff;
  font-size: 1.2rem;
}
.audio-warp .audio-nav {
  z-index: 10;
  padding: 1rem 3rem;
  margin-bottom: 2rem;
  display: flex;
  display: -webkit-flex;
  -ms-flex-direction: column;
  /* IE 9 */
  -webkit-flex-direction: column;
  /* Safari and Chrome */
  -o-flex-direction: column;
  /* Opera */
  -moz-flex-direction: column;
  /* Firefox */
  flex-direction: column;
}
.audio-warp .audio-nav i {
  font-weight: 100;
  color: #fff;
}
.audio-warp .audio-nav .audio-nav-button {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -ms-align-items: center;
  /* IE 9 */
  -webkit-align-items: center;
  /* Safari and Chrome */
  -o-align-items: center;
  /* Opera */
  -moz-align-items: center;
  /* Firefox */
  align-items: center;
}
.audio-warp .audio-nav .audio-nav-button .audio-play-order .gxs-icon {
  width: 1.8rem;
  height: 1.4rem;
}
.audio-warp .audio-nav .audio-nav-button .audio-play-order .icon-random {
  background: url("../images/icon-random.png") no-repeat;
  background-size: 100% 100%;
}
.audio-warp .audio-nav .audio-nav-button .audio-play-order .icon-retweet {
  background: url("../images/icon-retweet.png") no-repeat;
  background-size: 100% 100%;
}
.audio-warp .audio-nav .audio-nav-button .audio-play-order .icon-exchange {
  background: url("../images/icon-exchange.png") no-repeat;
  background-size: 100% 100%;
}
.audio-warp .audio-nav .audio-nav-button .audio-list .gxs-icon {
  width: 1.8rem;
  height: 1.4rem;
  background: url("../images/icon-meng.png") no-repeat;
  background-size: 100% 100%;
}
.audio-warp .audio-nav .audio-nav-btn {
  width: 15rem;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
}
.audio-warp .audio-nav .audio-nav-btn i {
  display: block;
  width: 2.5rem;
  height: 3rem;
}
.audio-warp .audio-nav .audio-nav-btn i img {
  max-height: 100%;
  max-width: 100%;
}
.audio-head {
  height: 44px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -ms-align-items: center;
  /* IE 9 */
  -webkit-align-items: center;
  /* Safari and Chrome */
  -o-align-items: center;
  /* Opera */
  -moz-align-items: center;
  /* Firefox */
  align-items: center;
}
.header .audio-title {
  margin-right: 42px;
  width: 100%;
  /* IE 9 */
  /* Safari and Chrome */
  -o-flex: 1;
  /* Opera */
  -moz-flex: 1;
  /* Firefox */
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  display: -webkit-flex;
  -ms-justify-content: flex-start;
  /* IE 9 */
  -webkit-justify-content: flex-start;
  /* Safari and Chrome */
  -o-justify-content: flex-start;
  /* Opera */
  -moz-justify-content: flex-start;
  /* Firefox */
  justify-content: flex-start;
  -ms-flex-direction: row;
  /* IE 9 */
  -webkit-flex-direction: row;
  /* Safari and Chrome */
  -o-flex-direction: row;
  /* Opera */
  -moz-flex-direction: row;
  /* Firefox */
  flex-direction: row;
  overflow: hidden;
  text-shadow: 1px 1px 3px #4a4a4a;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  overflow-x: scroll;
  height: 4.4rem;
  line-height: 4.4rem;
}
.header .audio-title p {
  text-align: center;
}
.header .audio-title .song-name {
  font-size: 1.6rem;
  color: #fff;
  font-weight: normal;
  margin-right: 1rem;
}
.header .audio-title .singer-name {
  font-size: 1.6rem;
  color: #fff;
}
.gxs-footer.audio-nav {
  height: 4.4rem;
  -ms-flex-direction: row;
  /* IE 9 */
  -webkit-flex-direction: row;
  /* Safari and Chrome */
  -o-flex-direction: row;
  /* Opera */
  -moz-flex-direction: row;
  /* Firefox */
  flex-direction: row;
  display: flex;
  display: -webkit-flex;
  -ms-align-items: center;
  /* IE 9 */
  -webkit-align-items: center;
  /* Safari and Chrome */
  -o-align-items: center;
  /* Opera */
  -moz-align-items: center;
  /* Firefox */
  align-items: center;
  border-top: solid 1px rgba(255, 255, 255, 0.4);
  background: url("../../assets/images/body-bg.jpg") no-repeat center;
  background-size: 100% auto;
  z-index: 10;
}
.gxs-footer.audio-nav .audio-progress {
  width: 100%;
  height: 2px;
  background: rgba(255, 255, 255, 0.5);
}
.gxs-footer.audio-nav .audio-progress .audio-progress-box {
  width: 0;
  height: 2px;
  background: #fff;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.gxs-footer.audio-nav .audio-progress-warp {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  flex-wrap: wrap;
  display: flex;
  display: -webkit-flex;
}
.gxs-footer.audio-nav .audio-img {
  width: 4.4rem;
  height: 4.4rem;
}
.gxs-footer.audio-nav .audio-img img {
  width: 100%;
}
.gxs-footer.audio-nav .audio-name {
  padding-left: 10px;
  overflow: hidden;
  margin-top: -2px;
  /* IE 9 */
  /* Safari and Chrome */
  -o-flex: 1;
  /* Opera */
  -moz-flex: 1;
  /* Firefox */
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.gxs-footer.audio-nav .audio-name p {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.gxs-footer.audio-nav .audio-name .song-name {
  font-size: 1.4rem;
  line-height: 1.5em;
  color: #fff;
}
.gxs-footer.audio-nav .audio-name .song-singer {
  font-size: 1rem;
  color: #c2c8d2;
}
.gxs-footer.audio-nav .audio-nav-button {
  margin-top: -2px;
  width: 140px;
  -ms-justify-content: space-around;
  /* IE 9 */
  -webkit-justify-content: space-around;
  /* Safari and Chrome */
  -o-justify-content: space-around;
  /* Opera */
  -moz-justify-content: space-around;
  /* Firefox */
  justify-content: space-around;
  display: flex;
  display: -webkit-flex;
  -ms-align-items: center;
  /* IE 9 */
  -webkit-align-items: center;
  /* Safari and Chrome */
  -o-align-items: center;
  /* Opera */
  -moz-align-items: center;
  /* Firefox */
  align-items: center;
}
.gxs-footer.audio-nav .audio-nav-button i {
  display: block;
  width: 1.8rem;
  height: 2.3rem;
}
.gxs-footer.audio-nav .audio-nav-button i img {
  max-height: 100%;
}
.recommended-warp {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 5.4rem;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.recommended-warp .slider-container {
  margin-bottom: 1rem;
}
.recommended-warp .recommended-title {
  font-size: 1.5rem;
  line-height: 1em;
  padding-bottom: .4rem;
  color: #fff;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.recommended-warp .recommended-hd {
  padding: 10px 15px;
}
.recommended-warp .recommended-more {
  font-size: 1.2rem;
  color: #c2c8d2;
}
.recommended-warp .recommended-bd {
  display: flex;
  display: -webkit-flex;
  -ms-flex-direction: column;
  /* IE 9 */
  -webkit-flex-direction: column;
  /* Safari and Chrome */
  -o-flex-direction: column;
  /* Opera */
  -moz-flex-direction: column;
  /* Firefox */
  flex-direction: column;
}
.recommended-warp .recommended-bd .audio-item {
  margin-bottom: 10px;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  position: relative;
  display: flex;
  display: -webkit-flex;
}
.recommended-warp .recommended-bd .audio-item:after {
  content: "";
  position: absolute;
  right: .5rem;
  width: 1.2rem;
  height: 2.1rem;
  top: 50%;
  background: url("../../assets/images/icon--chevron-right.png") no-repeat;
  background-size: 100% 100%;
  -ms-transform: translate(-50%, -50%);
  /* IE 9 */
  -webkit-transform: translate(-50%, -50%);
  /* Safari and Chrome */
  -o-transform: translate(-50%, -50%);
  /* Opera */
  -moz-transform: translate(-50%, -50%);
  /* Firefox */
  transform: translate(-50%, -50%);
}
.recommended-warp .recommended-bd .audio-item .topList-img {
  width: 11.6rem;
  height: 11.6rem;
  overflow: hidden;
}
.recommended-warp .recommended-bd .audio-item .recommended-box-img {
  width: 11.6rem;
}
.recommended-warp .recommended-bd .audio-item .recommended-box-img img {
  width: 100%;
}
.recommended-warp .recommended-bd .audio-item .recommended-box-text .recommended-box-title {
  font-size: 1.2rem;
}
.recommended-warp .topList-list {
  height: 11.6rem;
  padding: 1rem 1rem;
  overflow: hidden;
  /* IE 9 */
  /* Safari and Chrome */
  -o-flex: 1;
  /* Opera */
  -moz-flex: 1;
  /* Firefox */
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.recommended-warp .recommended-box {
  padding: .4rem 0;
  width: 100%;
  overflow: hidden;
  display: flex;
  display: -webkit-flex;
  -ms-align-items: center;
  /* IE 9 */
  -webkit-align-items: center;
  /* Safari and Chrome */
  -o-align-items: center;
  /* Opera */
  -moz-align-items: center;
  /* Firefox */
  align-items: center;
}
.recommended-warp .recommended-box:last-child {
  border: 0;
}
.recommended-warp .recommended-box .recommended-index {
  font-size: 14px;
  color: #61676F;
  padding-right: 10px;
}
.recommended-warp .recommended-box .recommended-info {
  width: 100%;
  font-size: 1.2rem;
  color: #fff;
  line-height: 1em;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.recommended-warp .recommended-box .song-index {
  margin-right: 1rem;
  color: #c2c8d2;
  line-height: 1em;
}
.recommended-warp .recommended-box .song-name {
  color: #fff;
  line-height: 1em;
}
.recommended-warp .recommended-box .album-name {
  margin-left: 1rem;
  font-size: 1.2rem;
  color: #c2c8d2;
  line-height: 1em;
}
.recommended-warp .song-listenCount {
  display: flex;
  display: -webkit-flex;
  -ms-align-items: center;
  /* IE 9 */
  -webkit-align-items: center;
  /* Safari and Chrome */
  -o-align-items: center;
  /* Opera */
  -moz-align-items: center;
  /* Firefox */
  align-items: center;
  margin-top: .8rem;
}
.recommended-warp .song-listenCount .listenCount {
  font-size: 1rem;
  color: #fff;
  line-height: 1em;
  margin-left: .8rem;
}
.gxs-icon {
  display: block;
}
.gxs-icon img {
  max-width: 100%;
  height: 100%;
}
.gxs-icon.gxs-icon-listenCount {
  width: .9rem;
  height: 1.2rem;
}
.gxs-icon.gxs-icon-listenCount img {
  max-height: 100%;
  width: auto;
}
.icon-angle-down {
  background: url("../images/icon-ellipses.png") no-repeat;
  background-size: 100% 100%;
  width: 2.3rem;
  height: .6rem;
}
.gxs-cell {
  display: flex;
  display: -webkit-flex;
  -ms-align-items: center;
  /* IE 9 */
  -webkit-align-items: center;
  /* Safari and Chrome */
  -o-align-items: center;
  /* Opera */
  -moz-align-items: center;
  /* Firefox */
  align-items: center;
}
.gxs-cell .gxs-cell-bd {
  /* IE 9 */
  /* Safari and Chrome */
  -o-flex: 1;
  /* Opera */
  -moz-flex: 1;
  /* Firefox */
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.gxs-cell .gxs-cell-ft {
  text-align: right;
}
.count-warp {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  padding-bottom: 5.4rem;
  z-index: 9;
}
.count-warp .count-touch {
  padding-bottom: 10px;
}
.count-warp .count-box-hd {
  width: 100%;
  position: relative;
}
.count-warp .count-box-hd img {
  width: 100%;
  position: relative;
  z-index: 10;
}
.count-warp .count-box-hd .count-info {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 11;
  padding: 1rem 1.5rem;
}
.count-warp .count-box-hd .count-info .count-title {
  font-size: 1.8rem;
  color: #fff;
  line-height: 1.5em;
}
.count-warp .count-box-hd .count-info .count-date {
  line-height: 1.5em;
  font-size: 1.2rem;
  color: #fff;
}
.count-warp .count-box {
  padding: 10px 15px;
  display: flex;
  display: -webkit-flex;
  background: url("../../assets/images/count-box-border.png") no-repeat bottom;
  background-size: 100% auto;
  -ms-align-items: center;
  /* IE 9 */
  -webkit-align-items: center;
  /* Safari and Chrome */
  -o-align-items: center;
  /* Opera */
  -moz-align-items: center;
  /* Firefox */
  align-items: center;
}
.count-warp .count-box .count-box-infoDesc {
  line-height: 1.5em;
  font-size: 1.4rem;
  color: #fff;
  text-indent: 2em;
}
.count-warp .count-box .count-box-index {
  font-size: 14px;
  color: #fff;
  padding-right: 10px;
}
.count-warp .count-box .count-box-title {
  font-size: 14px;
  margin-bottom: 5px;
  color: #fff;
}
.count-warp .count-box .count-box-name {
  font-size: 1.2rem;
  color: #c2c8d2;
}
.count-warp .count-box .count-box-info {
  /* IE 9 */
  /* Safari and Chrome */
  -o-flex: 1;
  /* Opera */
  -moz-flex: 1;
  /* Firefox */
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.count-warp .count-box .count-box-button {
  height: 35px;
  width: 35px;
  display: flex;
  display: -webkit-flex;
  -ms-justify-content: flex-end;
  /* IE 9 */
  -webkit-justify-content: flex-end;
  /* Safari and Chrome */
  -o-justify-content: flex-end;
  /* Opera */
  -moz-justify-content: flex-end;
  /* Firefox */
  justify-content: flex-end;
  -ms-align-items: center;
  /* IE 9 */
  -webkit-align-items: center;
  /* Safari and Chrome */
  -o-align-items: center;
  /* Opera */
  -moz-align-items: center;
  /* Firefox */
  align-items: center;
}
.count-warp .count-box .count-box-button i {
  color: #c2c8d2;
}
.count-head {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 0 1.5rem;
}
.count-head .audio-bank i {
  color: #fff;
}
.count-head .audio-title {
  overflow: hidden;
}
.count-head .audio-title .song-name {
  color: #fff;
}
.list-warp {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
}
.list-warp .list-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.list-warp .list {
  min-height: 15rem;
  background: url("../../assets/images/body-bg.jpg") no-repeat top;
  background-size: 100% auto;
  position: relative;
  z-index: 2;
  width: 100%;
}
.list-warp .list .list-box {
  font-size: 1.4rem;
  color: #fff;
  padding: 1.4rem;
  text-align: center;
  background: url("../../assets/images/count-box-border.png") no-repeat bottom;
  background-size: 100% auto;
}
.list-warp .list .list-box.list-box-audio {
  display: flex;
  display: -webkit-flex;
  -ms-justify-content: center;
  /* IE 9 */
  -webkit-justify-content: center;
  /* Safari and Chrome */
  -o-justify-content: center;
  /* Opera */
  -moz-justify-content: center;
  /* Firefox */
  justify-content: center;
  -ms-align-items: center;
  /* IE 9 */
  -webkit-align-items: center;
  /* Safari and Chrome */
  -o-align-items: center;
  /* Opera */
  -moz-align-items: center;
  /* Firefox */
  align-items: center;
  -ms-flex-direction: column;
  /* IE 9 */
  -webkit-flex-direction: column;
  /* Safari and Chrome */
  -o-flex-direction: column;
  /* Opera */
  -moz-flex-direction: column;
  /* Firefox */
  flex-direction: column;
}
.list-warp .list .list-box.list-box-audio .audio-singerName {
  font-size: 1.4rem;
  margin-top: 1rem;
  color: #c2c8d2;
}
.list-warp .list .list-box.list-box-audio .audio-songName {
  color: #fff;
}
.list-warp .list .list-box .audio-img {
  width: 40px;
  margin-right: 10px;
}
.list-warp .list .list-box .audio-img img {
  width: 100%;
}
.play-list-warp {
  background: none;
  -ms-align-items: flex-start;
  /* IE 9 */
  -webkit-align-items: flex-start;
  /* Safari and Chrome */
  -o-align-items: flex-start;
  /* Opera */
  -moz-align-items: flex-start;
  /* Firefox */
  align-items: flex-start;
}
.play-list-warp .audio-head {
  z-index: 6;
}
.play-list-warp .play-list {
  padding: 4.4rem 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}
.play-list-warp .play-list .list-box {
  text-align: left;
}
.play-list-warp .play-list .play-list-index {
  color: #c2c8d2;
}
.play-list-warp .play-list .play-list-name {
  color: #fff;
}
.play-list-warp .play-list .play-list-singer {
  color: #61676F;
}
.gxs-playClass {
  background: url("../../assets/images/icon-playing.png") no-repeat center center;
  background-size: auto 100%;
}
.gxs-pauseClass {
  background: url("../../assets/images/icon-pauseClass.png") no-repeat center center;
  background-size: 100% auto;
}
.lyric {
  margin-bottom: 1rem;
  /* IE 9 */
  /* Safari and Chrome */
  -o-flex: 1;
  /* Opera */
  -moz-flex: 1;
  /* Firefox */
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: flex;
  display: -webkit-flex;
  -ms-flex-direction: column;
  /* IE 9 */
  -webkit-flex-direction: column;
  /* Safari and Chrome */
  -o-flex-direction: column;
  /* Opera */
  -moz-flex-direction: column;
  /* Firefox */
  flex-direction: column;
  -ms-align-content: center;
  /* IE 9 */
  -webkit-align-content: center;
  /* Safari and Chrome */
  -o-align-content: center;
  /* Opera */
  -moz-align-content: center;
  /* Firefox */
  align-content: center;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}
.lyric .lyric-item {
  white-space: normal;
  min-height: 28px;
  height: 28px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  opacity: .6;
  line-height: 28px;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}
.lyric .lyric-item.cur {
  opacity: 1;
}
.weather-warp {
  position: fixed;
  top: 0;
  left: 0;
  right: 20%;
  bottom: 0;
  z-index: 9999;
}
.weather-warp .weather-menus {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 999;
}
.weather-warp .weather-menu {
  height: 5rem;
  padding: 0 15px;
}
.weather-warp .weather-hd {
  width: 3rem !important;
  height: 3rem;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
.weather-warp .weather-bd,
.weather-warp .weather-bd a {
  font-size: 14px;
  color: #1d1d26;
}
.weather-warp .weather-ft {
  font-size: 14px;
  color: #1d1d26;
}
.weather-menus-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
